.displayContainer{
    font-size: 2rem;
    color: rgb(213, 87, 87);
    font-family: sans-serif;
    font-weight: bold;
    padding: 0% 10%;
    text-align: center;
}

.controllersContainer{
    padding: 5% 2%;
    font-size: 1.6rem;
}

.boardDisplay{
    padding: 5% 10%;
    width: 55%;
}

.square{
    padding: 12% 12%;
}

/* borders of squares */

.top, .mid{
    border-bottom:  3px solid gray;
}

.left, .center{
    border-right: 3px solid gray;
}

.controller{
    padding: 3% 2% 0%;
}

.cheatDisplay{
    color: red;
}

.btn{
    width: 16rem;
    font-size: 1.4rem;
    margin-bottom: 3%;
}

.copyright{
    text-align: center;
}
